@font-face {
    font-family: 'sodo';
    src: url('/fonts/soDosans/SoDoSans-Regular.eot') 
  }
@font-face {
    font-family: 'dancing';
    src: url('/fonts/dancingscripts/Dancing\ Script.ttf') 
  }

  